
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Roboto+Flex:opsz,wght,GRAD@8..144,300,-45&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
html, body{

        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        
     
          margin: 0%;
          padding: 0%;
}


.flex{
  display:flex;
}

header{
    position: sticky;
    top: 0;
    background: white;
    height: 66px;
    boxrshadow:rgba(0, 0, 0, 0.15)1.95px 1.95px 2.6px;l
}

    
.left img{
    width: 32px;
    height: 23px !important;
}  


.container{
    max-width: 80dvw;
    padding: 0 10vw;
    margin: 13px, 0px;
   
}

nav{
    font-size: 12px;
padding-top: 14px;
}
nav ul li{
    list-style: none;
    padding: 0px 12px;
}

.section1{
background:#f2f2f2;

}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;

}

.spacebetween{
    justify-content: space-between;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}

.uppercase{
    text-transform: uppercase;
}

.semibold{
    font-weight: bold;
    font-style: bolder;


}

.search{
    
    width: 34vw;
    padding: 7px 17px;
    border: 0.5px solid •grey;
    background :#f7f8fd ;
    border-radius: 5px;l
}

.homeimg{
    width: 80vw;
    margin: 12px 0;
}

.itemimg{
    width: 20vw;
    height: 20vw;
    margin: 0 10px;
}

.footer{
    padding:23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 23%)0px 3px 8px;
}